._.DS_Store
.DS_Store
.osiris_pid
.shutdown_pid
.terminal
build-impl.xml~
Thumbs.db
*.lnk

/**/dist
/**/build
/**/build.xml
/**/nbproject/private
/**/nbproject/build-impl.xml~
/**/nbproject/genfiles.properties
/**/nbproject/groovy-build.xml
/**/.terminal
/**/Thumbs.db
/client/rameses-treasury-common/nbproject/private/
/client/rameses-treasury-common/build/
/client/rameses-gov-treasury/nbproject/private/
/client/rameses-gov-treasury/build/
/client/rameses-gov-treasury/dist/
/client/rameses-treasury-common/dist/
/client/rameses-gov-lgu-treasury/nbproject/private/
/client/rameses-gov-treasury-report/nbproject/private/
/client/rameses-gov-treasury-tool/nbproject/private/
/client/rameses-gov-lgu-treasury/build/
/client/rameses-gov-lgu-treasury/dist/
/client/rameses-gov-treasury-report/build/
/client/rameses-gov-treasury-report/dist/
/client/rameses-gov-treasury-tool/build/
/client/rameses-gov-treasury-tool/dist/